body, p {
    background-color: white;
    color: black;
    font-size: 20px;
    font-family: Times, Verdana, Arial, Helvetica;
}

h1 {
    font-family: Georgia;
    font-size: 28px;
}

table {
    border-collapse: collapse;
    width: 800px;
}

td {
    width: 25%;
    height: 30px;
    padding: 5px;
    border: 2px #666 solid;
    text-align: center;
}

.spawn {
    background-color: red;
}

.playerSelected {
    background-color: blue;
}